body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: #333; /* Linen */
  color: #333333; /* Onyx */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  width: 15vw;
  background-color: #333; /* Onyx */
  color: #fff; /* Linen */
  transition: transform 0.3s ease;
  border-right: 2px solid gray;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 5rem;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  transition: left 0.3s ease, width 0.3s ease;
}

.content-container {
  margin-left: 5rem;
  margin-top: 6rem;
  width: 100%;
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
  background-color: #333333; /* Linen */
  color: #333333; /* Onyx */
}

.content-container.closed {
  margin-left: 5rem;
  width: 100%; /* Content container takes full width */
}

.footer {
  position: relative;
  text-align: center;

  padding: 1rem;
  background-color: #d9534f;
  color: #fff;
}

/* Logo */
.logo img {
  height: 5rem;
  width: auto;
}

/* Banner */
.banner-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .content-container {
    border: 2px solid green;
  }
  .sidebar {
    width: 50vw;
  }
}
@media (max-width: 480px) {
  .content-container {
    border: 2px solid rgb(7, 18, 226);
  }
  .sidebar {
    width: 50vw;
  }
}
/*

@media (max-width: 768px) {
  .sidebar {
    width: 70vw;
  }

  .header {
    width: 100%;
    left: 0;
    height: 5rem;
    border: 2px solid black;
  }

  .content-container {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 0.5rem 1rem;
    height: 8rem;
  }
  .content-container {
    margin-top: 8rem;
  }

  .footer {
    height: 8rem;
  }
}

*/
